<p>Hello,</p>
<p>You have been invited to join the project: <strong><%= @project_title %></strong>.</p>
<p>Click the link below to accept the invitation:</p>
<p><a href="<%= @invite_link %>">Join Project</a></p>
<p>Thank you!</p>
