<p>Hello <%= @resource.email %>,</p>

<p>You requested a password reset. Click the link below to reset your password:</p>

<p>
  <%= link_to 'Reset Password', "http://localhost:3001/reset-password?token=#{@token}" %>
</p>

<p>If you did not request this, please ignore this email.</p>

<p>Thanks,<br>Team Tracker</p>
